.box{
	height:200px;
padding-left:150px;
padding-top:50px;
	
}
.prntdiv{
	display:flex;
	background-color:blue;
	align-items:center

	
}
.text{
	color:gray;
}
.food{

	height:200px;
margin-left:20px;
	
}